*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	border: none;
	text-transform: capitalize;
	font-family:cursive,verdana;
	word-spacing:0;

}
html{
	font-size: 62.5%;
}
/*star header style*/
header{
	display:flex;
	align-items: center;
	justify-content:center;
	/*width: 100%;*/
	/*height: 30%;*/
	/*text-align: center;*/
	/*padding: 4rem 1rem;*/
	background: lightgreen;

}
header h1{
	text-align: center;
	color: #fff;
	font-size: 4.4rem;
	font-weight: 666;
}
header h1 span{
	text-align: center;
	color:#333;
	font-size: 3rem;
	font-weight: 666;
}
header img{
	width: 50rem;

	/*height: 40rem;*/
}
.navbar{
	position: fixed;
	top: 1.5rem;
	right: 2.5rem;
	font-size:4rem;
	color: #fff;
	text-shadow: .3rem .4rem 1.2rem black;
	display: none;
}

#check{
	display: none;
}

/*#check:checked~.navbar i:before{
	content:'\f00d';
}
*/


/*end header style*/

/*start nav style*/

nav{
	background: #333;
	padding: .5rem 1rem;
}
nav a{
	color: #fff;
	font-weight: 666;
	font-size: 3rem;
	margin: .3rem 2rem;
}
/*end nav style*/

/*start main part style*/
main section h2{
	text-align: center;
	font-size: 4.3rem;
	padding:.8rem 0;
	margin-bottom: .5rem;
	border-bottom: .2rem dotted red;
}
main section iframe{
	width: 33%;
	height: 23rem;

}
.study-sec a .study{
	width: 24%;
	height: 24rem;
	margin:1rem .5rem;
	/*margin: .5rem;*/
	/*border-radius: 50%;*/
}

/*founder section style*/
.fonuder{
	/*position: relative;*/
	/*display:block;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*position: relative;*/
}
.founder .about{
	width: 100%;
	display:flex;
	flex-flow:column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}
.founder img{
	margin: 1rem 0;
	width: 20rem;
border-radius: 50%;
	/*height: 50rem;*/
	border-top: .8rem solid green;
	border-left: .8rem solid blue;
	border-bottom: .8rem solid red;
	border-right: .8rem solid yellow;
}
.founder h3{
	/*text-align: center;*/
	font-size: 3rem;
	letter-spacing: .1rem;

}
.founder h4{
	font-size: 2rem;
	color: #333;
	margin: .5rem 0;
	font-family:monospace;
}
.founder p{
	margin: 2rem .3rem;
	font-size: 1.5rem;
	line-height:3rem;
	font-family:monospace;
}

.founder .address{
	width: 100%;
	display: flex;
	justify-content: space-between;
 margin: 2rem;
}
.founder .address iframe{
	width: 49%;
	border-radius: 1rem;
}
.founder .address .contact{
	width: 49%;
	display:flex;
	flex-flow: column;
}
.founder .address .contact .title{
	font-size: 3.5rem;
	letter-spacing: .2rem;
}
.founder .address .contact .sym i{
	font-size: 2rem;
	color:red;
	padding:1rem .6rem;
} 
.founder .address .contact .sym a{
	font-size: 2.4rem;
	color: #444;
}

.founder .address .contact .icons a i{
font-size: 3rem;
margin: 1rem 1rem;
color: red;
transition: .3s linear all;
}
.founder .address .contact .icons a i:hover{
	color:deepskyblue;
	text-shadow: .3rem .3rem 1.4rem black;
	transform: scale(1.5) rotate(45deg);

}
/*end founder section style*/

/*end main part style*/

/*start footer style*/
footer{
	background: #555;
}
footer a{
	color: #fff;
	font-size: 2.4rem;
	padding: .5rem 2rem;
	font-family: monospace;
	font-weight:111111;
}

/*end footer style*/





/*media query*/

@media (min-width: 1000px) and (max-width: 1222px){

	.study-sec a .study{
	width: 48%;
	/*height: 24rem;*/
	/*margin:1rem .5rem;*/
	/*margin: .5rem;*/
	/*border-radius: 50%;*/
}
footer a{
	padding:.4rem 1rem;
	/*color: red;*/
}
}
@media (min-width:635px) and (max-width: 1000px){

header h1{
	font-size:2.7rem ;

}
header h1 span{
	font-size: 2rem;
}
header img{
	width: 34rem;

	/*height: 40rem;*/
}
nav{
	background: #333;
	padding: .4rem .3rem;
}
nav a{
	color: #fff;
	font-weight: 666;
	font-size: 1.5rem;
	margin: .2rem 1rem;
}
.study-sec a .study{
	width:48%;
	/*height: 24rem;*/
	/*margin:1rem .5rem;*/
	/*margin: .5rem;*/
	/*border-radius: 50%;*/
}
.founder .address{
	width: 100%;
	margin: 0;
}
.founder .address .contact .title{
	font-size: 2.5rem;
	letter-spacing: .2rem;
}
.founder .address .contact .sym i{
	font-size: 1.8rem;
	color:red;
	padding:1rem .5rem;
} 
.founder .address .contact .sym a{
	font-size: 1.4rem;
	color: #444;
}
footer a{
	padding:.4rem .7rem;
	/*color: red;*/
}
}

@media(min-width: 500px) and (max-width: 634px){

header h1{
	font-size:2.7rem ;

}
header h1 span{
	font-size: 2rem;
}
header img{
	width: 27rem;

	/*height: 40rem;*/
}
nav{
	background: #333;
	padding: .4rem .3rem;
}
nav a{
	color: #fff;
	font-weight: 666;
	font-size: 1.5rem;
	margin: .2rem 1rem;
}
main section iframe{
	width: 49%;
	height: 23rem;

}
.study-sec a .study{
	width:100%;
	/*height: 24rem;*/
	/*margin:1rem .5rem;*/
	/*margin: .5rem;*/
	/*border-radius: 50%;*/
}
.founder .address{
	width: 100%;
	margin: 0;
}
.founder .address .contact .title{
	font-size: 2.5rem;
	letter-spacing: .2rem;
}
.founder .address .contact .sym i{
	font-size: 1.8rem;
	color:red;
	padding:1rem .5rem;
} 
.founder .address .contact .sym a{
	font-size: 1.4rem;
	color: #444;
}
footer a{
	font-size: 1.4rem;
	padding:.4rem .2rem;
	/*color: red;*/
}

}
@media (max-width: 499px){
	header{
		position: relative;
	}
	header h1{
	font-size:2rem ;

}
header h1 span{
	font-size: 1.2rem;
}
header img{
	width: 20rem;

	/*height: 40rem;*/
}
nav{
	background:#444;
    transform: translateY(-150%);
    padding: 1rem 1rem;
    display: none;
    width: 100%;
    transition: .3s all linear;


}
.show{
	 transform: translateY(0%);
    padding: 1rem 1rem;
    display: block;
}
nav a{
	color: #fff;

	font-weight: 666;
	font-size: 2.2rem;
	display: block;
	border-radius: 1rem;
	padding:1rem 1.2rem;
	margin: .2rem .4rem;
}
nav a:hover{
	background: lightgreen;
}
.navbar{
	display: block;
}

main section h2{
	font-size: 3rem;
}
main section iframe{
	width: 49%;
	height: 23rem;

}
.study-sec a .study{
	width:100%;

}
.founder .address{
	width: 100%;
	display:block;
	justify-content: space-between;
 margin: 2rem;
}
.founder .address iframe{
	width: 100%;
	border-radius: 1rem;
}
.founder .address .contact{
	width: 100%;
	display:flex;
	flex-flow: column;
}
.founder .address .contact .title{
	font-size: 2.5rem;
	letter-spacing: .2rem;
}
.founder .address .contact .sym i{
	font-size: 1.8rem;
	color:red;
	padding:1rem .5rem;
} 
.founder .address .contact .sym a{
	font-size: 1.4rem;
	color: #444;
}
footer a{
	font-size: 1.4rem;
	padding:.4rem .2rem;
	/*color: red;*/
}


}
/*@media (max-width: 280){

	header h1{
	font-size:1.2rem ;

}
header h1 span{
	font-size: 1rem;
}
header img{
	width: 18rem;

	/*height: 40rem;*/

